@font-face {
  font-family: "Hind-Bold";
  src: url(../assets/fonts/Hind-Bold.ttf);
  font-family: "Hind-Regular";
  src: url(../assets/fonts/Hind-Regular.ttf); }

body {
  height: 100%;
  width: 100%; }

h1 {
  font-family: Hind-Bold !important;
  color: #DEE2E6; }

h2 {
  font-family: Hind-Bold !important;
  color: #212529; }

h3:hover {
  text-decoration: underline; }

h3 {
  font-family: Hind-Bold !important;
  color: #212529; }

h4:hover {
  text-decoration: underline; }

h4 {
  font-family: Hind-Bold !important;
  color: #212529; }

h5:hover {
  text-decoration: underline; }

h5 {
  font-family: Hind-Bold !important;
  color: #212529; }

p {
  font-family: Hind-Regular;
  font-size: 18px;
  color: #555459; }

a {
  text-decoration: none;
  outline: none; }

.textoNavVertical {
  color: #a0a0a0; }

.textoFooter {
  color: #a0a0a0; }

.fa-newspaper {
  color: #a0a0a0; }

.fa-fire {
  color: #a0a0a0; }

.fa-clock {
  color: #a0a0a0; }

.fa-landmark {
  color: #a0a0a0; }

.fa-globe {
  color: #a0a0a0; }

.fa-money-bill-wave {
  color: #a0a0a0; }

.fa-dollar-sign {
  color: #a0a0a0; }

.fa-futbol {
  color: #a0a0a0; }

.fa-basketball {
  color: #a0a0a0; }

.fa-paintbrush {
  color: #a0a0a0; }

.fa-clapperboard {
  color: #a0a0a0; }

#headerUno {
  background-color: #343A40; }

#headerDos div nav div div ul li {
  font-size: 16.84211px;
  font-family: Hind-Regular; }

#headerDos div nav div div ul .listaNavUno {
  padding-left: 3vw; }

#headerDos div nav div div ul .btnBuscarMobile {
  display: none; }

.headerTres nav div .textoHeaderTres {
  font-family: Hind-Regular; }

img:hover {
  animation: pulse;
  animation-duration: 1s; }

main div section div .imgNoticias:hover {
  animation: none; }

main div section div div .underlineNoticias:hover {
  text-decoration: none; }

main div div div .underlineNoticias:hover {
  text-decoration: none; }

main div div div .imgNoticias:hover {
  animation: none; }

aside nav div .navegadorVertical {
  position: fixed;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  border: 1px outset #DEE2E6;
  background-color: #DEE2E6;
  height: 8vh;
  width: 32px;
  opacity: 70%;
  padding: 0px; }
  aside nav div .navegadorVertical .botonNavVertical {
    position: fixed;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
    color: #212529; }
    aside nav div .navegadorVertical .botonNavVertical .fa-beat {
      animation-duration: 5s; }
    aside nav div .navegadorVertical .botonNavVertical .fa-beat:hover {
      animation-duration: 1.5s; }

aside nav div .bordesBoton:focus {
  outline: none;
  box-shadow: none; }

aside nav div .offcanvasIndex {
  position: fixed;
  width: 16vw !important;
  height: 53vh !important;
  top: 25%;
  background-color: #212529;
  border: 0.5px outset #DEE2E6; }
  aside nav div .offcanvasIndex .offcanvas-header {
    margin-bottom: 0px;
    padding-bottom: 20.8px; }
  aside nav div .offcanvasIndex .offcanvas-body {
    overflow-y: hidden; }
    aside nav div .offcanvasIndex .offcanvas-body ul li .card {
      background-color: transparent;
      border: 0px; }
      aside nav div .offcanvasIndex .offcanvas-body ul li .card .card-body .fa-newspaper {
        padding-left: 17.6px; }
      aside nav div .offcanvasIndex .offcanvas-body ul li .card .card-body .fa-fire {
        padding-left: 17.6px; }
      aside nav div .offcanvasIndex .offcanvas-body ul li .card .card-body .fa-clock {
        padding-left: 17.6px; }
      aside nav div .offcanvasIndex .offcanvas-body ul li .card .card-body .fa-landmark {
        padding-left: 17.6px; }
      aside nav div .offcanvasIndex .offcanvas-body ul li .card .card-body .fa-globe {
        padding-left: 16px; }
      aside nav div .offcanvasIndex .offcanvas-body ul li .card .card-body .fa-beat {
        animation-duration: 5s; }
      aside nav div .offcanvasIndex .offcanvas-body ul li .card .card-body .fa-beat:hover {
        animation-duration: 1.5s; }
      aside nav div .offcanvasIndex .offcanvas-body ul li .card .card-body .textoNavVertical {
        font-family: Hind-Regular;
        font-size: 17.6px; }
      aside nav div .offcanvasIndex .offcanvas-body ul li .card .card-body .textoNavVertical:hover {
        color: #e6e6e6; }

aside nav div .offcanvasSecciones {
  position: fixed;
  width: 25vw !important;
  height: 36vh !important;
  top: 32%;
  background-color: #212529;
  border: 0.5px outset #DEE2E6; }
  aside nav div .offcanvasSecciones .offcanvas-header {
    margin-bottom: 0px;
    padding-bottom: 20.8px; }
  aside nav div .offcanvasSecciones .offcanvas-body {
    overflow-y: hidden; }
    aside nav div .offcanvasSecciones .offcanvas-body ul li .card {
      background-color: transparent;
      border: 0px; }
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-newspaper,
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-fire,
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-clock,
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-landmark,
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-money-bill-wave,
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-paintbrush {
        padding-left: 17.6px; }
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-globe,
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-futbol,
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-clapperboard {
        padding-left: 16px; }
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-dollar-sign,
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-basketball {
        padding-left: 14.4px; }
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-beat {
        animation-duration: 5s; }
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .fa-beat:hover {
        animation-duration: 1.5s; }
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .textoNavVertical {
        font-family: Hind-Regular;
        font-size: 17.6px; }
      aside nav div .offcanvasSecciones .offcanvas-body ul li .card .card-body .textoNavVertical:hover {
        color: #e6e6e6; }

.compartir ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .compartir ul li .twitter {
    color: #1d9bf0; }
  .compartir ul li .facebook {
    color: #1877f2; }
  .compartir ul li .whatsapp {
    color: #00e676; }
  .compartir ul li .instagram {
    color: #ea0c5f; }
  .compartir ul li .fa-shake {
    animation-duration: 0s; }
  .compartir ul li .fa-shake:hover {
    animation-duration: 2s; }

footer div div nav {
  padding: 0px; }
  footer div div nav ul {
    list-style: none; }
    footer div div nav ul li .textoFooter {
      font-size: 17.77778px;
      font-family: Hind-Regular; }
    footer div div nav ul li .errorFooter {
      font-size: 15.2px; }

footer div div .navSecciones .navbar {
  padding-left: 40px; }
  footer div div .navSecciones .navbar .nav-itemCultura {
    padding-left: 32px; }

footer div div .volver .navbar {
  padding-right: 27.2px; }

footer div div .footerMobile ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

footer div div nav .compartir .fa-ul {
  margin: 0px 0px 0px 64px; }

footer .redesMobile {
  display: none; }

@media only screen and (max-width: 991.98px) {
  header .headerMobile {
    display: flex;
    justify-content: center; }
  #headerDos div nav div div ul .listaNavUno {
    padding-left: 0vw; }
  #headerDos div nav div div ul .btnBuscarMobile {
    display: contents; }
  #headerDos div nav div .btnBuscar {
    display: none !important; }
  aside nav div .offcanvasIndex {
    width: 22vw !important;
    height: 55vh !important; }
  aside nav div .offcanvasSecciones {
    width: 31.5vw !important;
    height: 40vh !important;
    top: 28%; }
  aside nav div .offcanvas-body ul li .card .card-body .textoNavVertical {
    font-size: 4.8px; } }

@media only screen and (max-width: 767.98px) {
  header .headerMobile {
    display: flex;
    justify-content: center; }
  #headerDos div nav div div ul .listaNavUno {
    padding-left: 0vw; }
  #headerDos div nav div div ul .btnBuscarMobile {
    display: contents; }
  #headerDos div nav div .btnBuscar {
    display: none !important; }
  aside nav div .offcanvasIndex {
    width: 30vw !important;
    height: 54vh !important;
    top: 23.5%; }
  aside nav div .offcanvasSecciones {
    width: 42vw !important;
    height: 40vh !important; }
  aside nav div .offcanvas-body ul li .card .card-body .textoNavVertical {
    font-size: 4.8px; }
  footer div div .footerMobile ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; }
    footer div div .footerMobile ul .redesDesktop {
      display: none; }
  footer div div .navSecciones .navbar {
    padding-left: 16px; }
  footer div div .volver .navbar {
    padding-right: 35.2px; }
  footer .redesMobile {
    display: contents; }
    footer .redesMobile div nav ul {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 64px; } }

@media only screen and (max-width: 575.98px) {
  header .headerMobile {
    display: flex;
    justify-content: center; }
  #headerDos div nav div div ul .listaNavUno {
    padding-left: 0vw; }
  #headerDos div nav div div ul .btnBuscarMobile {
    display: contents; }
  #headerDos div nav div .btnBuscar {
    display: none !important; }
  aside nav div .offcanvasIndex {
    width: 45vw !important;
    height: 55vh !important;
    top: 23.5%; }
  aside nav div .offcanvasSecciones {
    width: 60vw !important;
    height: 40vh !important; }
  aside nav div .offcanvas-body {
    overflow-y: show; }
    aside nav div .offcanvas-body ul li .card .card-body .textoNavVertical {
      font-size: 4.8px; }
  footer div div .footerMobile ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; }
    footer div div .footerMobile ul .redesDesktop {
      display: none; }
  footer div div .navSecciones .navbar .nav-itemCultura {
    padding-left: 0px; }
  footer .redesMobile {
    display: contents; }
    footer .redesMobile div nav ul {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 64px; } }

.noEncontrada {
  background-color: #343a40; }
