@mixin flexbox ($posicionamiento:col) {
    display: flex;
    justify-content: center;
}

@mixin headers {
    #headerUno {
        background-color: map-get($paletaDeColores, "color-headerUno");
    }

    #headerDos {
        div {
            nav {
                div {
                    div {
                        ul {
                            li {
                                font-size: ($rem/0.95);
                                font-family: map-get($fuentes, "regular");
                            }

                            .listaNavUno {
                                padding-left: 3vw;
                            }

                            .btnBuscarMobile {
                                display: none;
                            }

                        }
                    }
                }
            }
        }
    }

    .headerTres {
        nav {
            div {
                .textoHeaderTres {
                    font-family: map-get($fuentes, "regular");
                }
            }
        }
    }

}

@mixin headersDesktopSm {
    header {
        .headerMobile {
            @include flexbox($posicionamiento:col);
        }
    }

    #headerDos {
        div {
            nav {
                div {
                    div {
                        ul {
                            .listaNavUno {
                                padding-left: 0vw;
                            }

                            .btnBuscarMobile {
                                display: contents;
                            }
                        }
                    }

                    .btnBuscar {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@mixin headersTablet {
    header {
        .headerMobile {
            @include flexbox($posicionamiento:col);
        }
    }


    #headerDos {
        div {
            nav {
                div {
                    div {
                        ul {
                            .listaNavUno {
                                padding-left: 0vw;
                            }

                            .btnBuscarMobile {
                                display: contents;
                            }
                        }
                    }

                    .btnBuscar {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@mixin headersMobile {
    header {
        .headerMobile {
            @include flexbox($posicionamiento:col);
        }
    }

    #headerDos {
        div {
            nav {
                div {
                    div {
                        ul {
                            .listaNavUno {
                                padding-left: 0vw;
                            }

                            .btnBuscarMobile {
                                display: contents;
                            }
                        }
                    }

                    .btnBuscar {
                        display: none !important;
                    }
                }
            }
        }
    }
}