@mixin sidebar {
    aside {
        nav {
            div {
                .navegadorVertical {
                    position: fixed;
                    right: 1%;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 1px outset map-get($paletaDeColores, "color-logo");
                    background-color: map-get($paletaDeColores, "color-logo");
                    height: 8vh;
                    width: $rem*2;
                    opacity: 70%;
                    padding: $rem*0;

                    .botonNavVertical {

                        position: fixed;
                        right: 12%;
                        top: 50%;
                        transform: translateY(-50%);
                        color: map-get($paletaDeColores, "color-headerDos");

                        .fa-beat {
                            animation-duration: 5s;
                        }

                        .fa-beat:hover {
                            animation-duration: 1.5s;
                        }

                    }

                }

                .bordesBoton:focus {
                    outline: none;
                    box-shadow: none;
                }

                .offcanvas {
                    position: fixed;
                    width: 16vw !important;
                    height: 55vh !important;
                    top: 25%;
                    background-color: map-get($paletaDeColores, "color-headerDos");
                    border: 0.5px outset map-get($paletaDeColores, "color-logo");

                    .offcanvas-header {
                        margin-bottom: $rem*0;
                        padding-bottom: $rem*1.3;
                    }

                    .offcanvas-body {

                        ul {

                            li {

                                .card {

                                    background-color: transparent;
                                    border: $rem*0;

                                    .card-body {

                                        .fa-newspaper {
                                            padding-left: $rem*1.1;
                                        }

                                        .fa-fire {
                                            padding-left: $rem*1.1;
                                        }

                                        .fa-clock {
                                            padding-left: $rem*1.1;
                                        }

                                        .fa-beat {
                                            animation-duration: 5s;
                                        }

                                        .fa-beat:hover {
                                            animation-duration: 1.5s;
                                        }

                                        .textoNavVertical {
                                            font-family: map-get($fuentes, "regular");
                                            font-size: $rem*1.1;
                                        }

                                        .textoNavVertical:hover {
                                            color: map-get($paletaDeColores, "color-texto-navVertical");

                                        }
                                    }
                                }


                            }
                        }
                    }
                }
            }
        }
    }

}