@mixin offcanvasIndex {
    .offcanvasIndex {
        position: fixed;
        width: 16vw !important;
        height: 50vh !important;
        top: 25%;
        background-color: map-get($paletaDeColores, "color-headerDos");
        border: 0.5px outset map-get($paletaDeColores, "color-logo");

        .offcanvas-header {
            margin-bottom: $rem*0;
            padding-bottom: $rem*1.3;
        }

        .offcanvas-body {

            overflow-y: hidden;

            ul {

                li {

                    .card {

                        background-color: transparent;
                        border: $rem*0;

                        .card-body {

                            .fa-newspaper {
                                padding-left: $rem*1.1;
                            }

                            .fa-fire {
                                padding-left: $rem*1.1;
                            }

                            .fa-clock {
                                padding-left: $rem*1.1;
                            }

                            .fa-landmark {
                                padding-left: $rem*1.1;
                            }

                            .fa-globe {
                                padding-left: $rem*1;
                            }

                            .fa-beat {
                                animation-duration: 5s;
                            }

                            .fa-beat:hover {
                                animation-duration: 1.5s;
                            }

                            .textoNavVertical {
                                font-family: map-get($fuentes, "regular");
                                font-size: $rem*1.1;
                            }

                            .textoNavVertical:hover {
                                color: map-get($paletaDeColores, "color-texto-navVertical");

                            }
                        }
                    }


                }
            }
        }
    }
}

@mixin offcanvasSecciones {
    .offcanvasSecciones {
        position: fixed;
        width: 25vw !important;
        height: 36vh !important;
        top: 32%;
        background-color: map-get($paletaDeColores, "color-headerDos");
        border: 0.5px outset map-get($paletaDeColores, "color-logo");

        .offcanvas-header {
            margin-bottom: $rem*0;
            padding-bottom: $rem*1.3;
        }

        .offcanvas-body {
            overflow-y: hidden;

            ul {

                li {

                    .card {

                        background-color: transparent;
                        border: $rem*0;

                        .card-body {

                            .fa-newspaper,
                            .fa-fire,
                            .fa-clock,
                            .fa-landmark,
                            .fa-money-bill-wave,
                            .fa-paintbrush {
                                padding-left: $rem*1.1;
                            }

                            .fa-globe,
                            .fa-futbol,
                            .fa-clapperboard {
                                padding-left: $rem*1;
                            }

                            .fa-dollar-sign,
                            .fa-basketball {
                                padding-left: $rem*0.9;
                            }

                            .fa-beat {
                                animation-duration: 5s;
                            }

                            .fa-beat:hover {
                                animation-duration: 1.5s;
                            }

                            .textoNavVertical {
                                font-family: map-get($fuentes, "regular");
                                font-size: $rem*1.1;
                            }

                            .textoNavVertical:hover {
                                color: map-get($paletaDeColores, "color-texto-navVertical");

                            }
                        }
                    }


                }
            }
        }
    }
}



@mixin sidebar {
    aside {

        nav {

            div {

                .navegadorVertical {
                    position: fixed;
                    right: 1%;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 1px outset map-get($paletaDeColores, "color-logo");
                    background-color: map-get($paletaDeColores, "color-logo");
                    height: 8vh;
                    width: $rem*2;
                    opacity: 70%;
                    padding: $rem*0;

                    .botonNavVertical {

                        position: fixed;
                        right: 12%;
                        top: 50%;
                        transform: translateY(-50%);
                        color: map-get($paletaDeColores, "color-headerDos");

                        .fa-beat {
                            animation-duration: 5s;
                        }

                        .fa-beat:hover {
                            animation-duration: 1.5s;
                        }

                    }

                }

                .bordesBoton:focus {
                    outline: none;
                    box-shadow: none;
                }

                @include offcanvasIndex;

                @include offcanvasSecciones;

            }
        }
    }

}



@mixin sidebarDesktopSm {
    aside {
        nav {
            div {

                .offcanvasIndex {
                    width: 22vw !important;
                    height: 55vh !important;
                }

                .offcanvasSecciones {
                    width: 31.5vw !important;
                    height: 40vh !important;
                    top: 28%;
                }

                .offcanvas-body {
                    ul {

                        li {

                            .card {
                                .card-body {
                                    .textoNavVertical {
                                        font-size: $rem*0.3;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@mixin sidebarTablet {
    aside {
        nav {
            div {

                .offcanvasIndex {
                    width: 30vw !important;
                    height: 54vh !important;
                    top: 18%;
                }

                .offcanvasSecciones {
                    width: 42vw !important;
                    height: 40vh !important;
                }

                .offcanvas-body {
                    ul {

                        li {

                            .card {
                                .card-body {
                                    .textoNavVertical {
                                        font-size: $rem*0.3;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@mixin sidebarMobile {
    aside {
        nav {
            div {

                .offcanvasIndex {
                    width: 45vw !important;
                    height: 55vh !important;
                    top: 18%;
                }

                .offcanvasSecciones {
                    width: 60vw !important;
                    height: 40vh !important;
                }

                .offcanvas-body {
                    overflow-y: show;

                    ul {

                        li {

                            .card {
                                .card-body {
                                    .textoNavVertical {
                                        font-size: $rem*0.3;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}