$fuenteTitulos:null;
$colorTitulos:null;
$decoracionTitulos:null;
$colorTextos:null;
$fuenteTextos:null;

$rem:16px;
$alturaFooter:5vh;

$vista: ("vistaDesktopSm": desktopSm,
    "vistaTablet":tablet,
    "vistaMobile":mobile, );

$paletaDeColores: ("color-logo": #DEE2E6,
    "color-titulos": #212529,
    "color-parrafos":#555459,
    "color-headerUno":#343A40,
    "color-headerDos":#212529,
    "color-texto-navVertical":rgb(230, 230, 230),
    "color-texto-footer": rgb(160, 160, 160),
);

$fuentes: ("bold": Hind-Bold,
    "regular": Hind-Regular,
    "hachi": Hachi-Maru-Pop,
);

$clasesTextos: (textoNavVertical: (map-get($paletaDeColores, "color-texto-footer")),
    textoFooter: (map-get($paletaDeColores, "color-texto-footer")));

$clasesIconos: (fa-newspaper: (map-get($paletaDeColores, "color-texto-footer")),
    fa-fire: (map-get($paletaDeColores, "color-texto-footer")),
    fa-clock: (map-get($paletaDeColores, "color-texto-footer")),
    fa-landmark: (map-get($paletaDeColores, "color-texto-footer")),
    fa-globe: (map-get($paletaDeColores, "color-texto-footer")),
    fa-money-bill-wave: (map-get($paletaDeColores, "color-texto-footer")),
    fa-dollar-sign: (map-get($paletaDeColores, "color-texto-footer")),
    fa-futbol: (map-get($paletaDeColores, "color-texto-footer")),
    fa-basketball: (map-get($paletaDeColores, "color-texto-footer")),
    fa-paintbrush: (map-get($paletaDeColores, "color-texto-footer")),
    fa-clapperboard: (map-get($paletaDeColores, "color-texto-footer")));